body {
	font-family: 'Lato', sans-serif
}
table {
	border-collapse: collapse;
}
th, td {
	padding: 4px 10px;
	text-align: left;
}
th {
	font-weight: bold;
}
td {
	border-top: 1px solid #ddd;
}

.hide {
	display: none;
}
.show {
	display: block;
}