<!DOCTYPE html>
<html>
	<head>
		<title>Property Listing App</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div id="header">
			<h1>Property Listing App</h1>
		</div>
		<div id="container">
			<table id="properties-container">
				<thead>
					<th></th>
					<th>MLS #</th>
					<th>Start</th>
					<th>End</th>
					<th>Street</th>
					<th>City</th>
					<th>Bed</th>
					<th>Bath</th>
					<th>Price</th>
					<th>DOM</th>
					<th>Type</th>
					<th>Agent</th>
					<th>Phone</th>
					<th>Office</th>
					<th></th>
				</thead>
			</table>
		</div>
		<div id="footer"></div>

		<!-- Scripts -->
		<script type="text/javascript" src="js/lib/underscore.js"></script>
		<script type="text/javascript" src="js/lib/jquery.js"></script>
		<script type="text/javascript" src="js/lib/backbone.js"></script>

		<!-- Templates -->
		<script id="propertyInfo" type="text/template">
			<td>+</td>
			<td><span><%= mls_id %></span><input class='hide' type='text' name='mls_id' value='<%= mls_id %>' ></td>
			<td><span><%= start_time %></span><input class='hide' type='text' name='start_time' value='<%= start_time %>' ></td>
			<td><span><%= end_time %></span><input class='hide' type='text' name='end_time' value='<%= end_time %>' ></td>
			<td><span><%= address %></span><input class='hide' type='text' name='address' value='<%= address %>' ></td>
			<td><span><%= city %></span><input class='hide' type='text' name='city' value='<%= city %>' ></td>
			<td><span><%= beds %></span><input class='hide' type='number' name='beds' value='<%= beds %>' ></td>
			<td><span><%= baths %></span><input class='hide' type='number' name='baths' value='<%= baths %>' ></td>
			<td><span><%= price %></span><input class='hide' type='text' name='price' value='<%= price %>' ></td>
			<td><span><%= days_on_market %></span><input class='hide' type='number' name='days_on_market' value='<%= days_on_market %>' ></td>
			<td><span><%= property_type %></span><input class='hide' type='text' name='property_type' value='<%= property_type %>' ></td>
			<td><span><%= listing_agent.name %></span><input class='hide' type='text' name='la_name' value='<%= listing_agent.name %>' ></td>
			<td><span><%= listing_agent.phone_number %></span><input class='hide' type='text' name='la_phone' value='<%= listing_agent.phone_number %>' ></td>
			<td><span><%= listing_agent.office_name %></span><input class='hide' type='text' name='la_office' value='<%= listing_agent.office_name %>' ></td>
			<td>x</td>
		</script>
		<!-- Models, Views & Collections -->
		<!-- Later will use grunt to make these into one file -->
		<script type="text/javascript" src="js/app/models/property.js"></script>
		<script type="text/javascript" src="js/app/views/propertyView.js"></script>
		<script type="text/javascript" src="js/app/collections/properties.js"></script>
		<script type="text/javascript" src="js/app/views/propertiesView.js"></script>
		<script type="text/javascript" src="js/app/app.js"></script>
	</body>
</html>